Repository e9169/kopilot: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Agent Package, Kubernetes Package

.codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto

  precision: 2
  round: down
  range: "60...100"

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "examples/**/*"
  - "website/**/*"
  - "_site/**/*"
  - "**/*_test.go"
  - "test_*.go"
  - "main.go"  # Entry point, tested via integration

# Component-based coverage
component_management:
  individual_components:
    - component_id: agent
      name: Agent Package
      paths:
        - pkg/agent/*.go
        - "!pkg/agent/*_test.go"

    - component_id: k8s
      name: Kubernetes Package
      paths:
        - pkg/k8s/*.go
        - "!pkg/k8s/*_test.go"

# Flags for different test types
flags:
  unittests:
    paths:
      - pkg/
    carryforward: true

fix: update SDK to v0.1.25 and add bundling for embedded Copilot CLI
  .gitignore
  Makefile
  go.mod
  go.sum
  pkg/agent/agent.go
Due: unittests, Agent Package

fix: update SDK to v0.1.25 and add bundling for embedded Copilot CLI (#64)
  .gitignore
  Makefile
  go.mod
  go.sum
  pkg/agent/agent.go
Due: unittests, Agent Package

chore: update CHANGELOG for v0.2.2
  CHANGELOG.md
Due: none

feat: add quick installation method and detailed installation guide
  README.md
  docs/INSTALLATION.md
  docs/README.md
  install.sh
  website/docs.md
  website/index.md
Due: none

feat: add quick installation method and detailed installation guide (#65)
  README.md
  docs/INSTALLATION.md
  docs/README.md
  install.sh
  website/docs.md
  website/index.md
Due: none

docs: update installation instructions to link to detailed methods
  website/index.md
Due: none

docs: update installation instructions to link to detailed methods (#66)
  website/index.md
Due: none

Add quick install section to README
  README.md
Due: none

fix: update isPodHealthy function to consider succeeded pods as healthy
  pkg/agent/agent.go
  pkg/k8s/collectors.go
  pkg/k8s/collectors_test.go
Due: unittests, Agent Package, Kubernetes Package

fix: update isPodHealthy function to consider succeeded pods as healthy (#67)
  pkg/agent/agent.go
  pkg/k8s/collectors.go
  pkg/k8s/collectors_test.go
Due: unittests, Agent Package, Kubernetes Package

Update index.md
  website/index.md
Due: none

Update README.md
  README.md
Due: none

chore: upgrade copilot-sdk/go from v0.1.25 to v0.1.29
  go.mod
  go.sum
  pkg/agent/agent.go
Due: unittests, Agent Package

style: improve health-check.sh script idioms
  examples/scripts/health-check.sh
Due: none

chore: add SonarQube MCP server usage instructions
  .github/instructions/sonarqube_mcp.instructions.md
Due: none

chore: upgrade copilot-sdk/go from v0.1.25 to v0.1.29 (#75)
  go.mod
  go.sum
  pkg/agent/agent.go
Due: unittests, Agent Package

Apply suggestions from code review
  examples/scripts/health-check.sh
Due: none

style: improve health-check.sh script idioms (#76)
  examples/scripts/health-check.sh
Due: none

chore: update SonarQube MCP instructions header and description
  .github/instructions/sonarqube_mcp.instructions.md
Due: none

chore: add SonarQube MCP server usage instructions (#77)
  .github/instructions/sonarqube_mcp.instructions.md
Due: none

docs: update dependency versions to match go.mod
  .github/copilot-instructions.md
  README.md
Due: none

chore: skip CI workflows on documentation-only changes
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gosec.yml
  .github/workflows/jekyll.yml
  .github/workflows/security.yml
Due: none

docs: update dependency versions to match go.mod (#81)
  .github/copilot-instructions.md
  README.md
Due: none

chore: skip CI workflows on documentation-only changes (#82)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gosec.yml
  .github/workflows/jekyll.yml
  .github/workflows/security.yml
Due: none

docs: align SDK version references with go.mod (v0.1.25 → v0.1.29) (#83)
  .github/copilot-instructions.md
  README.md
Due: none

chore: promote klauspost/compress to direct dependency
  go.mod
Due: none

Revert klauspost/compress to indirect dependency and enforce go mod tidy in CI (#85)
  .github/workflows/ci.yml
  go.mod
Due: none

chore: promote klauspost/compress to direct dependency (#84)
  .github/workflows/ci.yml
Due: none

docs: update CHANGELOG for v0.2.3 and v0.2.4
  CHANGELOG.md
Due: none

chore: add Dependencies group to GoReleaser changelog config
  .goreleaser.yml
Due: none

feat: add specialist agent personas
  .github/instructions/markdown.instructions.md
  CHANGELOG.md
  README.md
  docs/AGENTS.md
  docs/EXECUTION_MODES.md
  docs/INTERACTIVE_FEATURES.md
  docs/MODEL_SELECTION.md
  docs/README.md
  go.mod
  main.go
  pkg/agent/agent.go
  pkg/agent/model_selection_test.go
  pkg/agent/tools.go
  website/docs.md
  website/index.md
Due: unittests, Agent Package

Update website/docs.md
  website/docs.md
Due: none

docs: use `text` fence for terminal transcript in AGENTS.md (#88)
  docs/AGENTS.md
Due: none

fix: CI go mod tidy failure and SonarQube code quality issues
  go.mod
  pkg/agent/agent_test.go
  pkg/agent/validation.go
Due: unittests, Agent Package

refactor: extract duplicate tool name format string into constant
  pkg/agent/agent_test.go
Due: none

refactor: remove repeated AgentDefault and agentType field from model selection test
  pkg/agent/model_selection_test.go
Due: none

test: improve unit test coverage for agent.go and tools.go (20% → 47%)
  pkg/agent/coverage_test.go
Due: none

feat: add specialist agent personas (#86)
  .github/instructions/markdown.instructions.md
  CHANGELOG.md
  README.md
  docs/AGENTS.md
  docs/EXECUTION_MODES.md
  docs/INTERACTIVE_FEATURES.md
  docs/MODEL_SELECTION.md
  docs/README.md
  main.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/coverage_test.go
  pkg/agent/model_selection_test.go
  pkg/agent/tools.go
  pkg/agent/validation.go
  website/docs.md
  website/index.md
Due: unittests, Agent Package

docs: update kopilot interface screenshot
  docs/images/kopilot-interface.png
Due: none
