Repository e9169/kopilot: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Agent Package, Kubernetes Package

fix(security): bump golang.org/x/net to v0.55.0
  go.mod
  go.sum
Due: none

ci: allow dependabot for claude review
  .github/workflows/claude-code-review.yml
Due: none

ci: fix failing checks on dependabot PRs
  .github/workflows/claude-code-review.yml
Due: none

fix: adapt agent to copilot-sdk v1 APIs
  pkg/agent/agent.go
Due: unittests, Agent Package

test(agent): cover copilot sdk v1 integration paths
  pkg/agent/agent_test.go
Due: none

fix(agent): align session handler with normalized llm event types
  go.mod
  main.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/tools.go
  pkg/llm/gemini/provider.go
  pkg/llm/openai/provider.go
  pkg/llm/provider_smoke_test.go
  pkg/llm/tool.go
  pkg/llm/types.go
Due: unittests, Agent Package

fix(security): enforce kubectl validation and arg sanitization before exec
  docs/IMPLEMENTATION_PLAN_REARCHITECTURE.md
  pkg/agent/validation_test.go
Due: none

test(agent): add provider abstraction lifecycle and regression coverage
  pkg/agent/agent_test.go
  pkg/llm/provider_smoke_test.go
Due: none

docs(plan): mark WP-01 through WP-06 complete with commit shas
  docs/IMPLEMENTATION_PLAN_REARCHITECTURE.md
Due: none

feat(agent): make kubectl timeout configurable via environment
  README.md
  pkg/agent/tools.go
Due: unittests, Agent Package

fix(openai): guard streamed tool call chunk index to prevent panic
  pkg/llm/openai/provider.go
  pkg/llm/openai/provider_test.go
Due: unittests

docs(plan): check off baseline tests pass
  docs/IMPLEMENTATION_PLAN_REARCHITECTURE.md
Due: none

fix(agent): add attachment size and content safety limits
  pkg/agent/agent.go
  pkg/agent/agent_test.go
Due: unittests, Agent Package

fix(llm): preserve MCP server config through provider abstraction
  pkg/llm/copilot/provider.go
  pkg/llm/copilot/provider_test.go
Due: unittests

ci(security): enforce actionable gosec policy and tighten workflow behavior
  .github/workflows/gosec.yml
Due: none

docs: sync provider setup and dependency versions with rearchitecture
  README.md
  docs/INSTALLATION.md
Due: none

docs(plan): mark WP-07 through WP-10 complete, final integration gate pass
  docs/IMPLEMENTATION_PLAN_REARCHITECTURE.md
Due: none

ci(security): fix gosec workflow so it actually passes
  .github/workflows/gosec.yml
  main.go
Due: none

fix(ci): resolve lint, gofmt, errcheck, gocyclo, and grpc vulnerability
  go.mod
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/llm/copilot/provider.go
  pkg/llm/gemini/provider.go
  pkg/llm/openai/provider.go
  pkg/llm/openai/provider_test.go
  pkg/llm/provider_smoke_test.go
Due: unittests, Agent Package

refactor: reduce cognitive complexity across llm and agent packages
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/llm/copilot/provider.go
  pkg/llm/gemini/provider.go
  pkg/llm/openai/provider.go
Due: unittests, Agent Package

fix(ci): upgrade grpc to v1.79.3, add provider unit tests, fix codecov
  .codecov.yml
  go.mod
  pkg/llm/gemini/provider_test.go
  pkg/llm/openai/provider_test.go
Due: none

feat: add --mcp-server mode to expose K8s tools via stdio MCP protocol
  go.mod
  go.sum
  main.go
  pkg/agent/mcpserver.go
  pkg/agent/mcpserver_test.go
  pkg/agent/tools.go
Due: unittests, Agent Package

fix: upgrade otel to v1.43.0, add tests, lower codecov patch target
  .codecov.yml
  go.mod
  go.sum
  pkg/agent/agent_test.go
  pkg/llm/openai/provider_test.go
  pkg/llm/tool_test.go
Due: none

fix: remove Claude Code mention from --mcp-server flag description
  main.go
Due: none

fix(lint): gofmt struct field alignment in openai provider_test.go
  pkg/llm/openai/provider_test.go
Due: none

fix(ci): pin gosec action to full commit SHA to satisfy SonarQube S8545
  .github/workflows/gosec.yml
Due: none

fix(ci): satisfy gosec S8545 via tools.go lock-file pattern
  .github/workflows/gosec.yml
  go.mod
  go.sum
  tools.go
Due: none

fix: update comment to clarify gosec pinning in tools.go
  tools.go
Due: none

fix(deps): bump golang.org/x/net to v0.55.0 to resolve GO-2026-5026
  go.sum
Due: none

fix(ci): stabilize checks and reduce llm duplication
  .codecov.yml
  go.mod
  go.sum
  pkg/llm/copilot/provider.go
  pkg/llm/copilot/provider_test.go
  pkg/llm/gemini/provider.go
  pkg/llm/gemini/provider_test.go
  pkg/llm/openai/provider.go
  pkg/llm/openai/provider_test.go
  pkg/llm/tool.go
  pkg/llm/tool_test.go
  pkg/llm/types.go
  pkg/llm/types_test.go
Due: unittests

fix(ci): make codecov patch informational and consolidate config
  .codecov.yml
  codecov.yml
Due: none

feat: rearchitecture — multi-provider LLM abstraction, security hardening, and CI improvements (#131)
  .codecov.yml
  .github/workflows/gosec.yml
  README.md
  codecov.yml
  docs/IMPLEMENTATION_PLAN_REARCHITECTURE.md
  docs/INSTALLATION.md
  go.mod
  go.sum
  main.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/mcpserver.go
  pkg/agent/mcpserver_test.go
  pkg/agent/tools.go
  pkg/agent/validation_test.go
  pkg/llm/copilot/provider.go
  pkg/llm/copilot/provider_test.go
  pkg/llm/gemini/provider.go
  pkg/llm/gemini/provider_test.go
  pkg/llm/openai/provider.go
  pkg/llm/openai/provider_test.go
  pkg/llm/provider_smoke_test.go
  pkg/llm/tool.go
  pkg/llm/tool_test.go
  pkg/llm/types.go
  pkg/llm/types_test.go
  tools.go
Due: unittests, Agent Package

fix: replace unavailable gpt-4.1 default with gpt-5.4-mini
  README.md
  docs/AGENTS.md
  docs/MODEL_SELECTION.md
  docs/README.md
  pkg/agent/agent.go
  pkg/agent/model_selection_test.go
  website/docs.md
Due: unittests, Agent Package

fix: replace unavailable gpt-4.1 default with gpt-5.4-mini (#140)
  README.md
  docs/AGENTS.md
  docs/MODEL_SELECTION.md
  docs/README.md
  pkg/agent/agent.go
  pkg/agent/model_selection_test.go
  website/docs.md
Due: unittests, Agent Package

Path conditions:
  unittests: any of: pkg/, but not: examples/**/*, website/**/*, _site/**/*, **/*_test.go, test_*.go, main.go
  Agent Package: any of: pkg/agent/*.go, but not: pkg/agent/*_test.go, examples/**/*, website/**/*, _site/**/*, **/*_test.go, test_*.go, main.go
  Kubernetes Package: any of: pkg/k8s/*.go, but not: pkg/k8s/*_test.go, examples/**/*, website/**/*, _site/**/*, **/*_test.go, test_*.go, main.go
