Repository e9169/kopilot: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Agent Package, Kubernetes Package

.codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto

  precision: 2
  round: down
  range: "60...100"

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "examples/**/*"
  - "website/**/*"
  - "_site/**/*"
  - "**/*_test.go"
  - "test_*.go"
  - "main.go"  # Entry point, tested via integration

# Component-based coverage
component_management:
  individual_components:
    - component_id: agent
      name: Agent Package
      paths:
        - pkg/agent/*.go
        - "!pkg/agent/*_test.go"

    - component_id: k8s
      name: Kubernetes Package
      paths:
        - pkg/k8s/*.go
        - "!pkg/k8s/*_test.go"

# Flags for different test types
flags:
  unittests:
    paths:
      - pkg/
    carryforward: true

docs: update kopilot interface screenshot (#89)
  docs/images/kopilot-interface.png
Due: none

fix: resolve install script failure when piped through curl | bash
  .goreleaser.yml
  install.sh
Due: none

Update install.sh
  install.sh
Due: none

[WIP] Fix install script failure based on feedback from PR #90 (#91)
  .github/prompts/release.prompt.md
  docs/INSTALLATION.md
  go.mod
Due: none

fix: resolve install script failure when piped through curl | bash (#90)
  .github/prompts/release.prompt.md
  .goreleaser.yml
  docs/INSTALLATION.md
  go.mod
  install.sh
Due: none

fix: restrict go mod tidy check to macOS in CI
  .github/workflows/ci.yml
Due: none

fix: restrict go mod tidy check to macOS in CI (#92)
  .github/workflows/ci.yml
Due: none

fix: use darwin/arm64 build context in go mod tidy CI check
  .github/workflows/ci.yml
Due: none

fix: remove go mod tidy CI check, rely on go mod verify
  .github/workflows/ci.yml
Due: none

fix: use darwin/arm64 build context in go mod tidy CI check (#93)
  .github/workflows/ci.yml
Due: none

docs: update README and docs to reflect current output format
  README.md
  docs/INTERACTIVE_FEATURES.md
  docs/PERFORMANCE.md
Due: none

docs: update README and docs to reflect current output format (#94)
  README.md
  docs/INTERACTIVE_FEATURES.md
  docs/PERFORMANCE.md
Due: none

chore: add SonarQube connected mode configuration
  .sonarlint/connectedMode.json
  install.sh
Due: none

chore: add SonarQube connected mode configuration (#95)
  .sonarlint/connectedMode.json
  install.sh
Due: none

docs: update Copilot instructions for Go version requirements and dependency management
  .github/copilot-instructions.md
  .github/instructions/copilot-sdk-go.instructions.md
Due: none

docs: update Copilot instructions for Go version requirements and dependency management (#96)
  .github/copilot-instructions.md
  .github/instructions/copilot-sdk-go.instructions.md
Due: none

chore: add issue auto-labeler workflow
  .github/labeler.yml
  .github/workflows/label-issues.yml
Due: none

Update .github/workflows/label-issues.yml
  .github/workflows/label-issues.yml
Due: none

chore: add issue auto-labeler workflow (#97)
  .github/labeler.yml
  .github/workflows/label-issues.yml
Due: none

docs: update SDK and CLI version references to v0.1.30 / 0.0.420
  .github/copilot-instructions.md
  README.md
  docs/INSTALLATION.md
  go.mod
Due: none

build: add compress.go stub to keep klauspost/compress as direct dep
  compress.go
Due: none

docs: update gh pr review command to include body option
  .github/skills/gh-cli/SKILL.md
Due: none

docs: update gh pr review command to include body option (#100)
  .github/skills/gh-cli/SKILL.md
Due: none

feat: improve UX with input colouring, thinking spinner, and fix sanitizer grade icons
  main.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/coverage_test.go
  pkg/agent/tools.go
  pkg/k8s/collectors.go
  pkg/k8s/collectors_test.go
  pkg/k8s/provider.go
  pkg/k8s/types.go
Due: unittests, Agent Package, Kubernetes Package

feat: add Kubernetes instructions, agent-governance and prompt-safety skills
  .github/instructions/kubernetes-deployment-best-practices.instructions.md
  .github/skills/agent-governance/SKILL.md
  .github/skills/ai-prompt-engineering-safety-review/SKILL.md
  pkg/agent/agent.go
  pkg/agent/tools.go
Due: unittests, Agent Package

feat: add Kubernetes instructions, agent-governance and prompt-safety skills (#103)
  .github/instructions/kubernetes-deployment-best-practices.instructions.md
  .github/skills/agent-governance/SKILL.md
  .github/skills/ai-prompt-engineering-safety-review/SKILL.md
  pkg/agent/agent.go
  pkg/agent/tools.go
Due: unittests, Agent Package

feat: add MCP server management tools and update tests
  go.mod
  go.sum
  main.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/coverage_test.go
  pkg/agent/mcp.go
  pkg/agent/tools.go
Due: unittests, Agent Package

feat: refactor error message formatting and use constant for cluster context in tests
  pkg/agent/agent.go
  pkg/agent/agent_test.go
Due: unittests, Agent Package

feat: enhance agent prompts with mandatory tool usage guidelines for cluster interactions
  pkg/agent/agent.go
Due: unittests, Agent Package

fix: resolve golangci-lint and SonarQube issues
  pkg/agent/agent.go
  pkg/agent/tools.go
  pkg/k8s/collectors.go
  pkg/k8s/collectors_test.go
Due: unittests, Agent Package, Kubernetes Package

test: add coverage for mcp, sanitize helpers, and network rules
  pkg/agent/mcp.go
  pkg/agent/mcp_test.go
  pkg/agent/tools.go
  pkg/agent/tools_test.go
  pkg/k8s/collectors_test.go
Due: unittests, Agent Package

refactor: fix SonarQube cognitive complexity and parameter count issues
  pkg/agent/agent.go
  pkg/k8s/collectors.go
Due: unittests, Agent Package, Kubernetes Package

test: replace duplicate string literals with named constants
  pkg/agent/mcp_test.go
  pkg/agent/tools_test.go
  pkg/agent/validation_test.go
  pkg/k8s/cache_test.go
  pkg/k8s/collectors_test.go
Due: none

style: gofmt mcp_test.go const alignment
  pkg/agent/mcp_test.go
Due: none

feat: add write-deny latch and turn-abort on user confirmation decline
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/coverage_test.go
  pkg/agent/tools.go
Due: unittests, Agent Package

feat: improve UX with input colouring, thinking spinner, and fix sanitizer grade icons (#101)
  .github/instructions/kubernetes-deployment-best-practices.instructions.md
  .github/skills/agent-governance/SKILL.md
  .github/skills/ai-prompt-engineering-safety-review/SKILL.md
  go.mod
  go.sum
  main.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/coverage_test.go
  pkg/agent/mcp.go
  pkg/agent/mcp_test.go
  pkg/agent/tools.go
  pkg/agent/tools_test.go
  pkg/agent/validation_test.go
  pkg/k8s/cache_test.go
  pkg/k8s/collectors.go
  pkg/k8s/collectors_test.go
  pkg/k8s/provider.go
  pkg/k8s/types.go
Due: unittests, Agent Package, Kubernetes Package

fix: replace deprecated session.Destroy with session.Disconnect
  pkg/agent/agent.go
Due: unittests, Agent Package

chore: add codecov.yml with informational patch coverage
  codecov.yml
Due: none
