Repository e9169/kopilot: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Agent Package, Kubernetes Package

.codecov.yml:

# Codecov Configuration
# Documentation: https://docs.codecov.io/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%
        base: auto

  precision: 2
  round: down
  range: "60...100"

comment:
  layout: "header, diff, flags, components, footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "examples/**/*"
  - "website/**/*"
  - "_site/**/*"
  - "**/*_test.go"
  - "test_*.go"
  - "main.go"  # Entry point, tested via integration

# Component-based coverage
component_management:
  individual_components:
    - component_id: agent
      name: Agent Package
      paths:
        - pkg/agent/*.go
        - "!pkg/agent/*_test.go"

    - component_id: k8s
      name: Kubernetes Package
      paths:
        - pkg/k8s/*.go
        - "!pkg/k8s/*_test.go"

# Flags for different test types
flags:
  unittests:
    paths:
      - pkg/
    carryforward: true

fix(ci): pin Go version in govulncheck to prevent API timeout
  .github/workflows/security.yml
Due: none

feat: add 14 UI/UX improvements to interactive REPL
  pkg/agent/agent.go
  pkg/agent/model_selection_test.go
Due: unittests, Agent Package

fix: resolve gofmt formatting and security hotspots in agent.go
  pkg/agent/agent.go
Due: unittests, Agent Package

test: add unit tests for new UX commands to improve patch coverage
  pkg/agent/agent_test.go
Due: none

feat: update AI model references to gpt-4.1 and claude-sonnet-4.6 across documentation and code
  README.md
  docs/AGENTS.md
  docs/MODEL_SELECTION.md
  docs/README.md
  go.mod
  go.sum
  pkg/agent/agent.go
  pkg/agent/model_selection_test.go
  website/docs.md
Due: unittests, Agent Package

feat: enhance agent model handling and improve attachment logging in sendToModel function
  pkg/agent/agent.go
  website/docs.md
Due: unittests, Agent Package

feat: add 14 UI/UX improvements to interactive REPL (#122)
  README.md
  docs/AGENTS.md
  docs/MODEL_SELECTION.md
  docs/README.md
  go.mod
  go.sum
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/model_selection_test.go
  website/docs.md
Due: unittests, Agent Package

docs: update website with latest features and commands
  website/docs.md
  website/index.md
Due: none

Update website/docs.md
  website/docs.md
Due: none

docs: update website with latest features and commands (#123)
  website/docs.md
  website/index.md
Due: none

docs: update README with sanitizer agent and missing features
  README.md
Due: none

docs: update README with sanitizer agent and missing runtime features
  README.md
Due: none

docs: update README with sanitizer agent and missing runtime features (#124)
  README.md
Due: none

fix(agent): align session handler with normalized llm event types
  go.mod
  go.sum
  main.go
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/agent/tools.go
  pkg/llm/gemini/provider.go
  pkg/llm/openai/provider.go
  pkg/llm/provider_smoke_test.go
  pkg/llm/tool.go
  pkg/llm/types.go
Due: unittests, Agent Package

fix(llm): preserve MCP server config through provider abstraction
  pkg/llm/copilot/provider.go
  pkg/llm/copilot/provider_test.go
Due: unittests

fix(security): enforce kubectl validation and arg sanitization before exec
  docs/IMPLEMENTATION_PLAN_REARCHITECTURE.md
  pkg/agent/validation_test.go
Due: none

fix(openai): guard streamed tool call chunk index to prevent panic
  pkg/llm/openai/provider.go
  pkg/llm/openai/provider_test.go
Due: unittests

fix(agent): add attachment size and content safety limits
  pkg/agent/agent.go
  pkg/agent/agent_test.go
Due: unittests, Agent Package

feat(agent): make kubectl timeout configurable via environment
  README.md
  pkg/agent/tools.go
Due: unittests, Agent Package

docs(plan): mark WP-01 through WP-06 complete with commit shas
  docs/IMPLEMENTATION_PLAN_REARCHITECTURE.md
Due: none

docs(plan): check off baseline tests pass
  docs/IMPLEMENTATION_PLAN_REARCHITECTURE.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#130)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

test(agent): add provider abstraction lifecycle and regression coverage
  pkg/agent/agent_test.go
  pkg/llm/provider_smoke_test.go
Due: none

docs: sync provider setup and dependency versions with rearchitecture
  README.md
  docs/INSTALLATION.md
Due: none

ci(security): enforce actionable gosec policy and tighten workflow behavior
  .github/workflows/gosec.yml
Due: none

docs(plan): mark WP-07 through WP-10 complete, final integration gate pass
  docs/IMPLEMENTATION_PLAN_REARCHITECTURE.md
Due: none

ci(security): fix gosec workflow so it actually passes
  .github/workflows/gosec.yml
  main.go
Due: none

fix(ci): resolve lint, gofmt, errcheck, gocyclo, and grpc vulnerability
  go.mod
  go.sum
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/llm/copilot/provider.go
  pkg/llm/gemini/provider.go
  pkg/llm/openai/provider.go
  pkg/llm/openai/provider_test.go
  pkg/llm/provider_smoke_test.go
Due: unittests, Agent Package

fix(ci): upgrade grpc to v1.79.3, add provider unit tests, fix codecov
  .codecov.yml
  go.mod
  go.sum
  pkg/llm/gemini/provider_test.go
  pkg/llm/openai/provider_test.go
Due: none

refactor: reduce cognitive complexity across llm and agent packages
  pkg/agent/agent.go
  pkg/agent/agent_test.go
  pkg/llm/copilot/provider.go
  pkg/llm/gemini/provider.go
  pkg/llm/openai/provider.go
Due: unittests, Agent Package

fix: upgrade otel to v1.43.0, add tests, lower codecov patch target
  .codecov.yml
  go.mod
  go.sum
  pkg/agent/agent_test.go
  pkg/llm/openai/provider_test.go
  pkg/llm/tool_test.go
Due: none

fix(lint): gofmt struct field alignment in openai provider_test.go
  pkg/llm/openai/provider_test.go
Due: none

feat: add --mcp-server mode to expose K8s tools via stdio MCP protocol
  go.mod
  go.sum
  main.go
  pkg/agent/mcpserver.go
  pkg/agent/mcpserver_test.go
  pkg/agent/tools.go
Due: unittests, Agent Package

fix: remove Claude Code mention from --mcp-server flag description
  main.go
Due: none

fix(ci): pin gosec action to full commit SHA to satisfy SonarQube S8545
  .github/workflows/gosec.yml
Due: none

fix(ci): satisfy gosec S8545 via tools.go lock-file pattern
  .github/workflows/gosec.yml
  go.mod
  go.sum
  tools.go
Due: none
